body {
    font-size: 22px;
    line-height: 28px;
    background: #fff;
}

h1 {
    font-size: 54px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
}

.container {
   text-align: center;
    
   
}

@media screen and (max-width: 600px) {
    h1 { font-size: 32px;
    }
}


